
@{
    ViewBag.Title = "HomeRepresentantes";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<link href="~/www/estilos/CRUDStyle.css" rel="stylesheet" />

<h2>Home Representantes</h2>
<div class="container">
    <p class="label-success">@ViewData["nombre"]</p>
    <div class="container-fluid text-center">
        <img src="https://adclichosting.com/wp-content/uploads/2021/10/Pagina-en-construccion.jpg" alt="Admin" class="imagenC img-thumbnail img-fluid mx-auto" />
    </div>
</div>





