
@{
    ViewBag.Title = "Representantes";
    Layout = "~/Views/Shared/_Layout5.cshtml";
}

<h2>Home Representantes</h2>
<div class="jumbotron">
    <h2>Gatsu Grades-Representantes</h2>
    <p class="label-success">@ViewData["nombre"]</p>


</div>

