
@{
    ViewBag.Title = "Estudiante";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<h2>Home Estudiante</h2>

<div class="jumbotron">
    <h1>Gatsu Grades-Estudiantes</h1>
    <p class="label-success">@ViewData["nombre"]</p>
    
</div>