
@{
    ViewBag.Title = "HomeEstudiante";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Home Estudiante</h2>

<div class="jumbotron">
    <h1>Gatsu Grades-Estudiantes</h1>
    <p class="label-success">@ViewData["nombre"]</p>
    <p class="lead">En desarrollo.....</p><a href=""><img src="https://cdn-icons-png.flaticon.com/128/8669/8669632.png" alt="Admin" width="40" height="40" /></a>
    
    
</div>