@{
    ViewBag.Title = "Administrador";
}

<div class="jumbotron">
    <h1>Gatsu Grades</h1>
    <p class="lead">Administrador de Plataforma de Ingreso de notas, horarios y asistencias</p>
    <p><a href="https://www.facebook.com/profile.php?id=100008632692316" class="btn btn-primary btn-lg">Saber más &raquo;</a></p>
</div>

<div class="row">
    
</div>