@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gatsu Grades</h1>
    <p class="lead">Administrador de Plataforma de Ingreso de notas, horarios y asistencias</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saber más &raquo;</a></p>
</div>

<div class="row">
    
</div>