@{
    ViewBag.Title = "Administrador";
}

<div class="jumbotron">
    <h1>Gatsu Grades</h1>
    <p class="lead">Administrador de Plataforma de Ingreso de notas, horarios y asistencias</p>
    
</div>

<div class="row">
    
</div>