
@{ 
    ViewBag.Title = "Gatsu Grades";
    Layout = "~/Views/Shared/_Layout3.cshtml";
 }
<!DOCTYPE html>

<link href="~/Content/Estilos/HomePage.css" rel="stylesheet" />
<body>

    <div class="bg-image"></div>
    <div class="container my-5">
        <div class="container-fluid">


            <br /><br />
            <h1 class="titulos">
                BIENVENIDO <br />
                GATSU GRADES
            </h1>


            <p class="lead">
                <a class="btn btn-lg btn-info mx-2 my-2" href="@Url.Action("LoginProf","PROFESORs")">
                    Profesor <img src="https://cdn-icons-png.flaticon.com/512/2784/2784445.png" ) width="65" height="65" />
                </a>
                <a class="btn btn-lg btn-info mx-2 my-2" href="@Url.Action("Login","ESTUDIANTEs")">
                    Estudiante <img src="https://cdn-icons-png.flaticon.com/512/535/535521.png?w=740&t=st=1665946177~exp=1665946777~hmac=cbd3efc5ba5d776d003dfdfa79874e9d325ea8e4668db5abefe011c8cb22158e" width="65" height="65" />
                </a>
                <a class="btn btn-lg btn-info mx-2 my-2" href="@Url.Action("LoginRep","REPRESENTANTEs")">
                    Representante <img src="https://cdn-icons-png.flaticon.com/512/4656/4656822.png" width="65" height="65" />
                </a>
            </p>


        </div>

    </div>




</body>