
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PagPrincipal</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/Estilos/HomePage.css" rel="stylesheet" />
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Cover</h3>

                        <ul class="nav masthead-nav">
                            <li class="active">
                                <a href="#" target="_blank">View full screen</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Full screen background cover page.</h1>

                    <p class="lead">
                        Informacion General de la escuela.

                        <small>
                            <br> <a href="http://bootsnipp.com/iframe/g6GWQ" target="_blank">Best viewed on full screen</a>
                        </small>

                    </p>

                    <p class="lead">
                        <a class="btn btn-lg btn-info" href="#">
                            Soy un Profesor
                        </a>
                        <a class="btn btn-lg btn-info" href="@Url.Action("Login","ESTUDIANTEs")">
                            Soy un Estudiante
                        </a>
                        <a class="btn btn-lg btn-info" href="#">
                            Soy un Representate
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>
