@model Prueba.ANO_LECTIVO

@{
    ViewBag.Title = "Details";
}

<link href="~/www/estilos/CRUDStyle.css" rel="stylesheet" />

<h2>Detalles del año lectivo</h2>

<div>
    <h4>AÑO LECTIVO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ANO_DESCRIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANO_DESCRIP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ANO }, new {@class="btn btn-success"}) |
    @Html.ActionLink("Back to List", "Index", "ANO_LECTIVO", new {@class="btn btn-primary"})
</p>
