﻿body {
}

.titulos {
    text-align: center;
    font-family: Corbel;
    font-weight: bolder;
    font-size: 70px;
    color: black;
    text-shadow: 0px 0px 10px #7EB8BD;
}
.navbar{
    margin:auto;
}
.nav-item{
    text-align:center;
    vertical-align:central;
}
input[type=checkbox] {
    /* Doble-tamaño Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari y Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;

}