﻿body {
}

.titulos {
    text-align: center;
    font-family: Corbel;
    font-weight: bolder;
    font-size: 70px;
    color: black;

}
.navbar{
    margin:auto;
}
.nav-item{
    text-align:center;
    vertical-align:central;
}

.botones{
    text-align:right;

}